<form [formGroup]="chatForm">
  <h2>Chat</h2>
  <div
    formArrayName="anotherChats"
    *ngFor="let chat of anotherChats.controls; let i = index"
  >
    <label for="chat-{{ i }}"></label>
    <textarea
      id="chat-{{ i }}"
      cols="30"
      rows="8"
      class="form-control"
      [formControlName]="i"
      placeholder="Enter your message here..."
      [class.is-invalid]="chat?.invalid && chat?.touched"
    ></textarea>
    <div *ngIf="chat?.invalid && chat?.touched" class="errors-section">
      <div *ngIf="chat?.errors?.['required']" class="text-danger">
        *Chat message is required
      </div>
      <div *ngIf="chat?.errors?.['minlength']" class="text-danger">
        *Chat message must have at least 2 characters.
      </div>
      <div *ngIf="chat?.errors?.['maxlength']" class="text-danger">
        *Chat message must be smaller than 20 characters.
      </div>
    </div>

    <button
      (click)="onSubmit()"
      [disabled]="!chat?.valid || !chat?.valid"
      class="btn"
      type="submit"
    >
      SEND
    </button>
    <div *ngIf="!chat?.valid" class="btn-danger">
      <p>*Complete the form to enable button.</p>
    </div>
  </div>

  <!-- {{ chatForm.value | json }} -->
</form>

<section class="chat-section">
  <header>Chat Window</header>
  <div class="sended-chats">
    <!-- <div
      formArrayName="anotherChats"
      *ngFor="let chat of anotherChats.controls; let i = index"
    >
      <div>
        <p>{{ chat.value }}</p>
      </div> -->
    <!-- </div> -->
  </div>
</section>
